html, body, section, .full-height {
  height: 100%;
  padding: 10px;
} 

#pad{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
}

#markdown {
  overflow: auto;
  border-left: 1px dashed blue;
}