html, body, section, .full-height {
  height: 100%;
} 

section {
  padding: 10px;
  font-size: 1.2em;
}

#pad{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
}

#markdown {
  overflow: auto;
  border-left: 2px dashed blue;
}